PORT=port
MONGODB_URI=mongodb_uri
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=day
OPENAI_API_KEY=sk-your-openai-api-key-here
GEMINI_API_KEY=your-gemini-api-key-here
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
